<% if @player.finished %>
    <ul class="nav nav-list span3 well affix">
      <li class="nav-header">DEALER ACTIONS</li>
      <li><a href="/actions/hit/dealer"><i class="icon-thumbs-up"></i> Hit dealer's hand</a></li>
      <li class="divider"></li>
      <li><%= erb :'_dealer_status' %></li>
    </ul>
<% else %>
    <ul class="nav nav-list span3 well affix">
      <li class="nav-header">USER ACTIONS</li>
      <li><a href="/actions/hit/player"><i class="icon-thumbs-up"></i> Hit</a></li>
      <li><a href="/actions/stay/player"><i class="icon-thumbs-down"></i> Stay</a></li>
      <li class="divider"></li>
      <li><%= erb :'_player_status' %></li>
    </ul>
<% end %>
