<% if @game.round_over? %>
    <ul class="nav nav-list" style="padding: 8px 14px;">
      <li class="nav-header">GAME ACTIONS</li>
      <% if @player.chips > 0 %>
          <li><a href="/new_round"><i class="icon-play"></i> Play another round</a></li>
          <li><a href="/reset_game"><i class="icon-off"></i> Restart game</a></li>
      <% else %>
          <li><a href="/reset_game"><i class="icon-play"></i> Play a new game</a></li>
      <% end %>
    </ul>
<% else %>
    <% if @player.finished %>
        <ul class="nav nav-list">
          <li class="nav-header">DEALER ACTIONS</li>
          <li><a href="/actions/hit/dealer" id="hit_dealer"><i class="icon-thumbs-up"></i> Hit dealer's hand</a></li>
          <li class="divider"></li>
          <li><%= erb :'_dealer_status' %></li>
          <li>&nbsp;</li>
          <li><%= erb :'_player_status' %></li>
        </ul>
    <% else %>
        <ul class="nav nav-list">
          <li class="nav-header">USER ACTIONS</li>
          <li><a href="/actions/hit/player" id="hit_player"><i class="icon-thumbs-up"></i> Hit</a></li>
          <li><a href="/actions/stay/player" id="stay_player"><i class="icon-thumbs-down"></i> Stay</a></li>
          <li class="divider"></li>
          <li><%= erb :'_dealer_status' %></li>
          <li>&nbsp;</li>
          <li><%= erb :'_player_status' %></li>
        </ul>
    <% end %>
<% end %>
