<div class="alert alert-info" style="margin-bottom: 0px;">
  Dealer's current score is:<br />
  <strong><%= "#{@dealer.hand_is_soft_or_hard.nil? ?
          '' :
          "#{@dealer.hand_is_soft_or_hard} " } #{@dealer.hand_value}" %></strong>

</div>
