<div id="dealer-cards" class="cards">
  <%= erb :'_dealer_score' %>

  <% if @game.all_players_finished? %>
    <% @dealer.cards.each do |card| %>
      <img src="<%= "#{card.image}" %>" alt=""/>
    <% end %>
  <% else %>
    <img src="<%= "#{@dealer.first_card.image}" %>"/>
    <img src="/images/cards/cover.jpg"/>
  <% end %>
</div>
