<% message = '' %>

<% if @game.round_over? %>

  <% message = '<h4 style="text-align: center">Game results</h4><hr /><ul class="unstyled">' %>
  <% if @dealer.hand_is_blackjack? %>
    <% message += '<li>The dealer got blackjack.</li>' %>
  <% elsif @dealer.hand_is_bust? %>
    <% message += "<li>The dealer busted with a score of #{@dealer.hand_value}.</li>" %>
  <% else %>
    <% message += "<li>The dealer finished the hand with a score of #{@dealer.hand_value}.</li>" %>
  <% end %>
  <% message += "<li>&nbsp;</li>" %>

  <% @players.each do |p| %>
    <% if p.bet > 0 %>
      <% message += "<li>#{p.build_hand_result_message}</li>" %>
    <% end %>
  <% end %>
  <% message += '</ul>' %>
<% elsif @game.player_turn_over?(@current_player) && @dealer.card_count == 2 %>
  <% if @current_player.hand_value > Blackjack::BLACKJACK_VALUE %>
    <% message += "Oops, #{@current_player.name} busted!" %>
  <% elsif @current_player.hand_value == Blackjack::BLACKJACK_VALUE && @current_player.card_count == 2 %>
    <% message += "Congratulations, #{@current_player.name} got blackjack!" %>
  <% end %>
<% end %>

<% unless message == '' %>

  <script>
    bootbox.dialog("<%= message.gsub('"', '\\"') %>", [
      <% if @game.round_over? %>
      <% if @game.active_players.count > 0 %>
      {
        "label": "Restart game",
        "class": "btn-danger",
        "callback": function () {
          window.location = '/reset_game';
        }
      },
      {
        "label": "Play another round",
        "class": "btn-success",
        "callback": function () {
          window.location = '/new_round';
        }
      },
      <% else %>
      {
        "label": "Play a new game",
        "class": "btn-success",
        "callback": function () {
          window.location = '/reset_game';
        }
      },
      <% end %>
      <% else %>
      {
        "label": "Continue",
        "class": "btn-success",
        "callback": function () {
        }
      },
      <% end %>
    ]);
  </script>
<% end %>
