<% if @player.finished && @dealer.hand_value >= Blackjack::DEALER_STAY_MINIMUM %>
    <% case @game.game_status
       when Blackjack::PLAYER_HAS_BLACKJACK
         alert_class = 'win'
         message     = "Congratulations, #{@player.name} got blackjack!"
       when Blackjack::PLAYER_WINS
         alert_class = 'win'
         message     = "Whew, #{@player.name} won!"
       when Blackjack::PLAYER_BUSTED
         alert_class = 'lose'
         message     = "Whoops! #{@player.name} pushed took a chance and lost!"
       when Blackjack::DEALER_HAS_BLACKJACK
         alert_class = 'lose'
         message     = 'Dealer got blackjack. Better luck next time.'
       when Blackjack::DEALER_BUSTED
         alert_class = 'win'
         message     = "Dealer busted. #{@player.name} won!"
       when Blackjack::DEALER_WINS
         alert_class = 'lose'
         message     = 'Dealer won this round, better luck next time.'
       when Blackjack::NO_WINNER_YET
         alert_class = 'lose'
         message     = 'I am not sure why you are seeing this, there is no winner yet.'
       when Blackjack::GAME_IS_PUSH
         alert_class = 'win'
         message     = "Looks like this round was a push. #{@player.name}'s bet of $#{@player.bet} will stay " +
                 "on the table."
       end %>

    <% alert_class = (alert_class == 'win' ? 'success' : 'danger') %>
    <div class="alert alert-<%= "#{alert_class}" %> span<%= "#{CARD_WELL_SPAN_WIDTH}" %> pull-right" style="padding: 8px 23px 8px 14px;">
      <%= "#{message}" + '<br /><br />' +
                  "#{@player.name}'s final hand value: #{@player.hand_value}." + '<br />' +
                  "Dealer's final hand value: #{@dealer.hand_value}." %>
      <p>&nbsp;</p>
      <% if @player.chips < 1 %>
          <p>Unfortunately, you are out of chips. Game over.</p>
      <% else %>
          <p>Please choose an option from the list on the left.</p>
      <% end %>

    </div>
<% end %>
