<div class="alert" style="margin-bottom: 0px; padding: 8px 14px">
  <% if @player.finished %>
      <%= @player.name %> stayed at:
  <% else %>
      <%= @player.name %>'s current score is:
  <% end %>
  <strong style="display: inline-block;"><%= "#{@player.hand_is_soft_or_hard.nil? ?
          '' :
          "#{@player.hand_is_soft_or_hard} " } #{@player.hand_value}" %></strong>
</div>
