<div class="alert alert-info" style="margin-bottom: 0px;">
  <%= @player.name %>'s current score is:<br />
  <strong><%= "#{@player.hand_is_soft_or_hard.nil? ?
          '' :
          "#{@player.hand_is_soft_or_hard} " } #{@player.hand_value}" %></strong>
</div>
