<!-- show current player's cards, then loop through the other player's cards showing them -->
<% if @current_player.active %>
    <li>
      <div class="alert" style="margin-bottom: 0px; padding: 8px 14px">
        <% if @current_player.finished %>
            <%= @current_player.name %> stayed at:
        <% else %>
            <%= @current_player.name %>'s current score is:
        <% end %>
        <% if @current_player.hand_is_blackjack? %>
            <strong>blackjack!</strong>
        <% else %>
            <strong style="display: inline-block;"><%= "#{@current_player.hand_is_soft_or_hard.nil? ?
                    '' :
                    "#{@current_player.hand_is_soft_or_hard} " } #{@current_player.hand_value}" %></strong>
        <% end %>
      </div>
    </li>
    <li>&nbsp;</li>
<% end %>
