<% if flash(:bet).has_key?(:error) %>
    <div class="alert alert-error">
      <%= flash(:bet)[:error] %>
    </div>
<% end %>
<% if ongoing_hand_exists? %>
    <h4>I'm sorry, you are already playing a hand.</h4><br/>
    <p>
      <a href="/game" class="btn span4 btn-success clearfix" style="margin-left: 0px !important;">
        Click here to continue hand
      </a>
    </p>
    <p>&nbsp;</p>
    <p>
      <a href="/reset_game" class="btn span4 btn-danger clearfix" style="margin-left: 0px !important;">
        Click here to reset the current game
      </a>
    </p>
<% else %>
    <form method="post">

      <h4><%= @current_player.name %>, how much would you like to bet on this hand?</h4>

      <p><em>You currently have $<%= @current_player.chips %> available to bet.</em></p>

      <p>&nbsp;</p>

      <p>

      <div class="input-prepend">
        <span class="add-on">$</span>
        <input type="text" name="bet" class="span2" placeholder="example: 10"><br/>
      </div>
      </p>
      <p>
        <button type="submit" class="btn span2 btn-success" style="margin-left: 0px !important;">Save Bet</button>
      </p>
    </form>
<% end %>
