<% PLAYER_CARD_WIDTH_DURING_PLAY = 2 %>
<% PLAYER_CARD_WIDTH_AFTER_PLAY = 1 %>
<% CARD_WELL_SPAN_WIDTH = 8 # MUST BE ODD!!!    %>

<div class="row span12">
  <%= erb :'_actions' %>
  <%= erb :'_dealer_cards' %>
</div>
<div class="row span12">
    <%= erb :'_player_cards' %>
</div>
