<div id="dealer-cards" class="well span12"></div>
<div id="dealer-status"></div>
<div id="dealer-actions"></div>
<div id="player-cards" class="well span12"></div>
<div id="player-status"></div>
<div id="player-actions"></div>
